#login
	%h1 Por favor, se identifique.
	%p Utilize sua conta de email da planobe.com.br para entrar no sistema de feedback.

#login-form
	- form_tag sessions_path do
		%p
			%label{:for=> "username"} Email da Plano Bê:
			= text_field_tag 'username'
		%p
			%label{:for=> "password"} Senha:
			= password_field_tag 'password'
		= submit_tag 'Entrar'