!!! 1.1
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en"}
	%head
		%title Feedback

	%body
		#wrapper
			#header
				- if logged_in?
					%p
						= link_to 'Clique aqui para ver todos membros da equipe', root_url
						|
						Logado como 
						= h current_user.username
						= link_to 'Clique aqui para sair!', logout_url
		#content
			= yield
